demo-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  max-width: 600px;
  min-width: 200px;
  min-height: 200px;
  margin: auto;
}
